<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Pessoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="/js/app/pessoa.js"></script>

    <script type="text/javascript">
        function validarCollapseForm() {
            if (!$("#pessoaForm").hasClass("show")) {
                $("#collapseBtn").click();
            }
        }
    </script>
</head>
<body>
    <div ng-controller="Pessoa" class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Meus contatos</h1>
            </div>

            <div class="col-sm-2">
                <button
                        class="btn btn-sm btn-info"
                        type="button"
                        ng-click="novo()"
                        onclick="validarCollapseForm()"
                >
                    Novo contato
                </button>

                <button
                        id="collapseBtn"
                        style="visibility:hidden"
                        type="button"
                        data-toggle="collapse"
                        data-target="#pessoaForm"
                        aria-expanded="false"
                        aria-controls="pessoaForm"
                >
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-search" />
                        </div>

                        <input type="text" class="form-control" name="pesquisa" placeholder="Quem você procura?" ng-model="pesquisa">
                    </div>
                </div>
            </div>
        </div>

        <div id="pessoaForm" class="collapse">
            <form name="novaPessoaForm" class="needs-validation">
                <div class="row form-group">
                    <label for="name" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input type="text" id="name" ng-model="pessoa.name" class="form-control" required>
                    </div>
                </div>

                <div class="row form-group">
                    <label for="phone" class="col-sm-2 col-form-label">Telefone:</label>
                    <div class="col-sm-10">
                        <input type="text" id="phone" ng-model="pessoa.phone" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button
                                class="btn btn-sm btn-info"
                                type="button"
                                ng-click="gravar(novaPessoaForm.$valid)"
                        >
                            Gravar
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="pessoa in pessoas | filter:pesquisa" scope="row">
                            <td>{{pessoa.name}}</td>
                            <td>{{pessoa.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>